# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Env
.venv/
venv/
env/
ENV/

# build
build/
dist/
*.egg-info/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# Hashcat
# =========================
tools/hashcat-*/
tools/*.7z
*.7z
hashcat-*/

# =========================
# Wordlists
# =========================
wordlists/
*.txt

# =========================
# Rules
# =========================
#rules/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db